body {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.numbers {
  margin: 0;
  padding-left: 40px;

  li {
    line-height: 1.6;

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        color: rgb($i, 256 - $i, 0);
      }
    }
  }
}